.btn{
  padding:15px 30px;

  border:none;
  border-radius:40px;

  cursor:pointer;

  font-size:16px;
  font-weight:500;

  transition:0.3s;
}

.primary{
  background:#00b894;
  color:white;
}

.primary:hover{
  background:#019875;
}

.secondary{
  background:white;
  color:black;
}

.secondary:hover{
  background:#e5e7eb;
}