.footer{
  position:relative;

  background:#0f172a;
  color:white;

  margin-top:100px;
}

.footer::before{
  content:'';

  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:1px;

  background:
  linear-gradient(
    90deg,
    transparent,
    rgba(0,184,148,.7),
    transparent
  );
}

.footer-container{
    padding:60px 5% 40px;
  gap:28px;

  display:grid;
  grid-template-columns:1fr;
 
}
.footer-tag{
  display:inline-block;

  padding:6px 12px;

  border-radius:999px;

  background:rgba(0,184,148,.15);

  color:#00b894;

  font-size:12px;

  margin-bottom:12px;
}
.footer-section h2{
  font-size:32px;
  margin-bottom:20px;
}

.footer-section h2 span{
  color:#00b894;
}

.footer-section h3{
  font-size:22px;

  margin-bottom:16px;

  color:white;
}

.footer-section p{
  color:#cbd5e1;
  line-height:1.8;
}

.footer-section ul{
  list-style:none;
}

.footer-section ul li{
  margin-bottom:10px;
}

.footer-section ul li a{
  color:#cbd5e1;

  transition:.25s;
}

.footer-section ul li a:hover{
  color:#00b894;

  padding-left:4px;
}

.social-icons{
  display:flex;
  gap:15px;

  margin-top:25px;
}


.social-icons svg{
  width:40px;
  height:40px;

  padding:10px;

  border-radius:12px;

  background:#1e293b;

  transition:.3s;
}

.social-icons svg:hover{
  background:#00b894;

  color:white;

  transform:translateY(-3px);
}
.footer-bottom{
  padding:25px;
  text-align:center;

  border-top:1px solid rgba(255,255,255,0.08);

  color:#94a3b8;
}
.footer-newsletter{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.footer-newsletter input{
  width:100%;

  height:54px;

  padding:0 18px;

  border-radius:14px;

  border:1px solid rgba(255,255,255,.08);

  background:#1e293b;

  color:white;

  font-size:15px;
}

.footer-newsletter button{
  width:100%;

  height:54px;

  border:none;

  border-radius:14px;

  background:#00b894;

  color:white;

  font-size:15px;

  font-weight:700;

  transition:.25s;
}

.footer-newsletter button:hover{
  background:#00a884;
}
/* TABLET */

@media(max-width:768px){

  .footer{
    margin-top:70px;
  }

  .footer-container{
    padding:50px 6%;
  }

  .newsletter{
    padding:22px;
  }

  .newsletter h3{
    font-size:26px;
  }
}

@media(min-width:768px){

  .footer-container{
    grid-template-columns:repeat(2,1fr);
  }

}

/* DESKTOP */

@media(min-width:1024px){
  .footer-container{
    grid-template-columns:
    2fr 1fr 1fr 1.4fr;
  }
}