.navbar{
  position:fixed;
  top:0;
  left:0;

  width:100%;

  height:72px;

  z-index:10000;

  background:#ffffff;

  border-bottom:1px solid #e5e7eb;

  overflow:hidden;
   transition:.3s ease;
}
.navbar-scrolled{
  background:
  rgba(255,255,255,.92);

  backdrop-filter:blur(16px);

  box-shadow:
  0 10px 30px
  rgba(15,23,42,.08);
}
.scroll-progress{
  position:absolute;

  bottom:0;
  left:0;

  height:2px;

  background:#00b894;
}
.navbar-container{
  width:100%;

  max-width:1200px;

  height:100%;

  margin:0 auto;

  padding:0 20px;

  display:flex;

  align-items:center;

  justify-content:space-between;
}

/* LOGO */

.logo{
  font-size:28px;

  font-weight:700;

  color:#0f172a;

  white-space:nowrap;
}

.logo span{
  color:#00b894;
}

/* LINKS */

.nav-links{
  display:flex;

  align-items:center;

  gap:28px;

  list-style:none;
}

.nav-links a{
  font-size:15px;

  font-weight:500;

  color:#334155;

  transition:0.2s;

  position: relative;
}

.nav-links a::after{
  content:'';

  position:absolute;

  left:0;
  bottom:-6px;

  width:0;

  height:2px;

  background:#00b894;

  transition:.25s;
}

.nav-links a:hover::after{
  width:100%;
}

.nav-links a:hover{
  color:#00b894;
}

/* BUTTON */

.nav-btn{
  border:none;

  padding:12px 20px;

  border-radius:999px;

  background:#00b894;

  color:white;

  font-size:14px;

  cursor:pointer;
}

/* MENU ICON */

.menu-icon{
  display:none;

  font-size:24px;

  cursor:pointer;
}

/* OVERLAY */

.mobile-overlay{
  position:fixed;

  inset:0;

  background:rgba(0,0,0,0.4);

  opacity:0;

  visibility:hidden;

  transition:0.3s;

  z-index:9998;
}

.mobile-overlay.active{
  opacity:1;

  visibility:visible;
}

/* SIDEBAR */

.mobile-sidebar{
  position:fixed;

  top:0;
  right:-100%;

  width:260px;

  height:100vh;

  background:white;

  z-index:9999;

  padding:90px 24px;

  display:flex;

  flex-direction:column;

  gap:22px;

  transition:0.3s;
}

.mobile-sidebar.active{
  right:0;
}

.mobile-sidebar a{
  padding:12px 14px;

  border-radius:12px;

  transition:.25s;
}

.mobile-sidebar a:hover{
  background:#f1f5f9;

  color:#00b894;
}
.mobile-header{
  margin-bottom:20px;
}

.mobile-header h2{
  font-size:28px;
}

.mobile-header span{
  color:#00b894;
}

.mobile-header p{
  color:#64748b;
  font-size:14px;
}

.mobile-login-btn{
  margin-top:auto;

  height:52px;

  border-radius:14px;

  background:
  linear-gradient(
    135deg,
    #00b894,
    #00cec9
  );

  font-weight:700;
}
/* MOBILE */

@media(max-width:900px){

  .nav-links,
  .nav-btn{
    display:none;
  }

  .menu-icon{
    display:block;
  }

  .navbar{
    height:68px;
  }
}