.mobile-topbar{
  display:none;
}

.admin-sidebar{
  width:260px;

  background:#0f172a;

  color:white;

  padding:30px 20px;

  transition:0.3s;
}

.admin-sidebar h2{
  font-size:30px;

  margin-bottom:40px;
}

.admin-sidebar h2 span{
  color:#00b894;
}

.admin-sidebar nav{
  display:flex;
  flex-direction:column;

  gap:16px;
}

.admin-sidebar nav a{
  display:flex;
  align-items:center;

  gap:12px;

  padding:14px;

  border-radius:12px;

  color:#cbd5e1;

  transition:0.3s;
}

.admin-sidebar nav a:hover{
  background:#1e293b;

  color:white;
}

/* MOBILE */

@media(max-width:768px){

  .mobile-topbar{
    display:flex;

    justify-content:space-between;
    align-items:center;

    background:#0f172a;

    color:white;

    padding:18px 20px;
  }

  .mobile-topbar h2{
    font-size:24px;
  }

  .mobile-topbar h2 span{
    color:#00b894;
  }

  .mobile-topbar button{
    background:none;
    border:none;

    color:white;

    font-size:24px;

    cursor:pointer;
  }

  .desktop-logo{
    display:none;
  }

  .admin-sidebar{
    position:fixed;

    top:72px;
    left:-100%;

    width:260px;
    height:100vh;

    z-index:1000;
  }

  .admin-sidebar.active{
    left:0;
  }

}