.featured{
  padding:80px 0 100px;

  background:#f8fafc;
}

.featured h2{
  text-align:center;

  font-size:42px;

  font-weight:800;

  letter-spacing:-1px;

  margin-bottom:16px;

  color:#0f172a;
}

.tour-grid{
  margin-top:55px;

  display:grid;

  grid-template-columns:1fr;

  gap:24px;
}

/* TABLET */

@media(min-width:768px){

  .tour-grid{
    grid-template-columns:
    repeat(2,1fr);

    gap:28px;
  }

}

/* DESKTOP */

@media(min-width:1200px){

  .tour-grid{
grid-template-columns:
repeat(auto-fit,minmax(340px,1fr));

    gap:32px;
  }

}

/* MOBILE */

@media(max-width:768px){

  .featured{
    padding:65px 0 80px;
  }

  .featured h2{
    font-size:32px;
  }

}